<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QCloudCOSXMLDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.0.0.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.0.1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.0.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.1.0.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.1.1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.1.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.1.3.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QCloudCOSXMLDemoTests5.2.0.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AB143EB1E601E0500830F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB144041E601E0500830F93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801AD362019904E004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801AD502019C688004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801AD69201A006D004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801AD77201A0079004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801AD85201A0184004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801AD93201A035B004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801ADA1201A0366004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801ADAF201A0371004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A801ADBD201A0379004D1B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
